body{
    font-family:Arial;
    padding: 20px;
}
#todo-input{
    padding: 10px;
    width: 250px;
    font-size: 16px;
}
li{
    cursor: pointer;
    margin: 8px 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}