body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f5f5f5;
}
.app{
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
#todo-input{
    padding: 10px;
    width: 250px;
    font-size: 16px;
}
li{
    cursor: pointer;
    margin: 8px 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
#filters{
    display: flex;
    justify-content: center;
    gap: 10px;
}